.articleBody{
    min-height: 100vh;
    max-width: 700px;
    margin: auto;
    text-align: left;
}

.articleBody h1{
    font-size: 3rem;
}

.articleBody h2{
    font-size: 2rem;
}

.articleBody h4{
    text-align: left;
    max-width: 30%;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    font-weight: lighter;
    background-color: rgb(250, 237, 39);
}

.content{
    line-height: 2rem;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: rgb(245,243,238);
}

.content p{
    padding: .5rem;
}

.content ol{
    list-style-type: disc;
}
