.headContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0 1rem 0;
    font-family: 'Roboto', sans-serif;
}

.headContainer ul{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.headContainer li{
    padding: 1rem;
}

.headContainer a{
    text-decoration: none;
    color: black;
}

.headContainer li a:hover{
    background-color: rgb(255, 102, 102);
    cursor: pointer;
}

.headContainer nav{
    margin-right: 2rem;
}

.titleLink{
    margin-left: 2rem;
    font-size: 2.8rem;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 450px){
    .titleLink{
        font-size: 1.5rem;
        -webkit-text-stroke-width: 1px;
        margin-left: .5rem;
    }
}

@media only screen and (max-width: 800px){
    .headContainer nav{
        display: none;
    }
}