
.wrapper{
    margin-left:2rem;
}

.firstLine{
    padding: 0;
    font-size: 2.5rem;
    width: 400px;
    color: black;
    border-right: solid 5px transparent;
    white-space: nowrap;
    overflow: hidden;
}

.secondLine{
    padding: 0;
    font-size: 2.5rem;
    color: black;
    border-right: solid 5px transparent;
    white-space: nowrap;
    overflow: hidden;
}

.firstLine{
    animation: animated-text 3s steps(29) 2s 1 normal both,
    animated-cursor 900ms steps(29) 3.5;
}

.secondLine{
    animation: animated-text 4s steps(29) 5s 1 normal both,
    animated-cursor 900ms steps(29) 3.3s 10;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 620px;}
}

@keyframes animated-cursor{
    from{border-right-color: transparent;}
    to{border-right-color: black;}
}

@media only screen and (max-width: 450px){

    .wrapper{
        margin-left: 0;
    }
    .firstLine{
        margin: 0 0 1rem 0;
        font-size: 1.3rem;
    }

    .secondLine{
        margin: 0 0 3rem 0;
        font-size: 1.3rem;
    }

    @keyframes animated-text{
        from{width: 0;}
        to{width: 90%;}
    }
}



